.erm-icon {
  // Instead of using the font-based icons // We're applying SVG masks
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  background: currentColor;
  width: 1em;
  height: 1em;
  display: block;

  &[class*="setting"] {
    mask-image: url(/assets/icons/setting.svg);
    height: 21px;
    width: 21px;
  }
}
