:root {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  color: var(--primary);
  background-color: var(--font-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  color: var(--font-black);
  box-sizing: border-box;
  background-color: var(--font-white);

  * {
    box-sizing: border-box;
  }

  [hidden] {
    display: none !important;
  }
}

// Scrollbar Start
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-smoke);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
}
